.Toolbar{
    left: 0;
    top: 0;
    height: 56px;
    width: 100%;
    position: fixed;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    z-index: 70;
}

.Toolbar nav{
    height: 100%;
}