.Input{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.Label{
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}
.InputElement{
    outline: none;
    background-color: white;
    border: 1px solid #ccc;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.InputElement:focus{
    outline: none;
    background-color: #ccc;
}
.InValid{
    border: 1px solid red;
    background-color: rgb(245, 163, 153);
}